.detailed-profile {

  /* border: solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 5%;
  margin: 5%;
  margin-top: 5vh;

  min-height: 60vh;
  /* styling */
  background-color: whitesmoke;
  border-radius: 1vh;


  
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-pfp {
  background-color: gainsboro;
  max-width: 80vw;
  max-height: 45vh;
  margin-bottom: 5vh;
}

p{
  /* this is to counteract the p tag's default styling */
  margin: 3px;
}