.detailed-profile {
  /* padding: 5%; */
  margin: 5%;
  margin-top: 5vh;

  /* min-height: 60vh; */
  /* overflow: scroll; */

}

.user-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: fit-content; */
  /* padding-right: 10%; */
  /* padding-left: 10%; */
  padding: 25px;
}
.user-pfp {
  background-color: gainsboro;
  max-width: inherit;
  max-height: 45vh;
  margin-bottom: 5vh;
}

p{
  margin: 3px;
  /* font-size: 1.2rem; */
}
.icons-detailedProfile:hover{
  color: #e84ca5;
}

table {
  border-spacing: 0.5rem;
}