.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 15px 20px; */
  padding: 1px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */

  position: fixed;
  top: 0;
  width: 100%;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
  color: black;
  padding-top: 5px;
  text-transform: uppercase;
}

button + button {
  margin-left: 10px;
}

.header-buttons {
  border: none;
  background-color: white;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.header-buttons-container {
  display: flex;
}
