.card {
  position: absolute;
  top: 150px;
  width: 100%;
  /* height: 75vh; */
}

/* section{
  display: flex;
  justify-content: flex-start;
} */

/* .likes-item {
  background-color: green;
} */

.command-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem;
  height: 60vh;
}

/* .command-swipe {
  display: flex;
}
.button-swipe-left {
  margin-right: 5px;
} */

.command-extras {
  display: flex;
  flex-direction: column;
}
.go-to-matches {
  text-decoration: none;
}