.match-item {
  width: 60vw;
  height: 60vw;
  background-color: whitesmoke;
  margin: 1.5rem;
}

.MuiCardMedia-media {
  object-position: 50% 0%;
}

.user-name-matchItem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}