.main-body{
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* background-color: cornsilk; */
}

.profile-text{
  /* background-color: green; */
  border: 1px solid lightgrey;
  padding: 5%;
  width: 70vw;
}