.main-body{
  display: flex;
}

/* .user_image {
  height:40vh;
} */

.main-card {
  /* min-height: 60vh; */
  overflow: scroll;
}

.MuiCardMedia-root{
  object-position: 50% 0%;
  height: 15rem;
}

.MuiCard-root	{
  min-height: 60vh;
  /* overflow: scroll; */
}

.MuiCardContent-root {
  /* overflow-y: scroll; */
  height: fit-content;
  overflow-wrap: break-word;
  /* background-color: aquamarine; */
}