.main-body{
  display: flex;
  /* flex-direction: column; */
  /* align-items: space-around; */
  /* background-color: cornsilk; */
}

.user_image {
  /* width: 50px; */
  height:40vh;
}

.main-card {
  /* width: 80vw; */
  height: fit-content;
  overflow: scroll;
  /* margin-bottom: 5vh; */
}