.simple-profile {
  /* height: 50vh;
  width: 60vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 15%; */
  /* margin: 15px; */
}

.card-wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: 10vh; */
}

.MuiCard-root {
  height: 20rem;
  width: 20rem;
}