.simple-profile {
  /* height: 50vh;
  width: 60vw; */

  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 15%; */
  /* margin: 15px; */
}

.card-wrapper-simple-profile{
  display: flex;
  justify-content: center;
  /* margin-top: 10vh; */
  height: 20rem;
}

.MuiCard-root {
  /* height: 20rem; */
  width: 21rem;
}

.simple-profile-username {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.simple-profile-emoji {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 40px;
}

.simple-profile-text-fields {
  margin-top: 2.7rem;
}