/* .main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 92vh;
  color: cadetblue;
} */
@media all and (max-width: 375px) {

  .main-body-EditProfile{
    /* color: cadetblue; */

    background-size: contain;
    margin-top: 80px;
    /* background-color: darkseagreen; */

    display: flex;
    justify-content: center;
    
  }

  .edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
  }

  .edit-profile-update-button {
    text-decoration: none;
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    width: 12rem;
    border-radius: 4px;
  }
  .profile-text{
    margin-top:390px;
    padding-bottom: 20px;
    color: aliceblue;
  }

  /* .firstName {
    color:aliceblue;
    align-items: center;
    text-align: center; 
  } */

  /* .lastName {
    align-items: center;
  } */

  /* .emailEdit {
    align-items: center;
  } */

  /* .phoneEdit {
    align-items: center;
  } */

  /* .contactEdit {
    align-items: center;
  } */

  /* .bioEdit {
    align-items: center;
  } */

  /* .locationEdit {
    align-items: center;
  } */

  /* .imageEdit {
    align-items: center;
  } */
}