/* .main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 92vh;
  color: cadetblue;
} */
@media all and (max-width: 375px) {

  .main-body-EditProfile{
    display: flex;
    height: 700px;
    background-size: contain;
    margin-top: -50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 92vh; */
    color: cadetblue;
  }
}